@font-face {
  font-family: 'Poppins';
  src: url(../../assets/font/Poppins/Poppins-Regular.ttf);
}


body {
  font-family: "Open Sans",Arial,sans-serif;
  font-size: 15px;
  margin: 0;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr max-content;
  height: 100vh;

  button{
    cursor: pointer;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  p, span, button, label, input{
    font-size: var(--font-size-normal);
    font-family: "Open Sans",Arial,sans-serif;
  }
  h1, h2, h3,p{
    margin: 0;
  }

  .radio-btn{
    display: none;

    + label {
      font-weight: normal;
      cursor: pointer;
      display: flex;
      align-items: center;
      span {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        width: 18px; 
        height: 18px; 
        cursor: pointer;
        border-radius: 50%;
        position: relative;
        border: 2px solid var(--clr-wht-sonic-silver); 
        
        &::before {
          content: "";        
          opacity: 0;
          width: 9px; 
          height: 9px; 
          border-radius: 50%;
          background-color: var(--clr-blu-delft-2); 
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: opacity 0.2s;
          span{
            border-color: var(--clr-wht-sonic-silver) !important; 
          }
        }
      }
    }
    
    &:checked + label span::before {
      opacity: 1;
    }

    &:checked + label{
      span{
        border: 2px solid var(--clr-blu-delft-2) !important;
      }
    }
  }

  .checkbox-btn {
    display: none;

    + label {
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;
      span {
        background-color: transparent;
        border: 2px solid var(--clr-wht-sonic-silver);
        border-radius: 3px;
        padding: 8px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 5px;
      }
    }

    &:checked + label span {
      background: var(--clr-blu-delft-2) !important;
      border-color: var(--clr-blu-delft-2) !important;
      &::after{
        content: '';
        display: block;
        position: absolute;
        top: 1px;
        left: 6px;
        width: 4px;
        height: 10px;
        border: solid var(--clr-wht-basic);
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
  }

  .must-label{
    color: var(--clr-red-poppy);
    font-size: var(--font-size-medium);
  }

  
  .form-input{
    display: grid;
    gap: 2rem;
    padding: 0.5em;
    cursor: pointer !important;
    input:not(input[type="radio"], input[type="checkbox"]){
      display: block;
      outline: none;
      border: none;
      height: 2em;
      margin-bottom: 1px;
      border-bottom: 2px solid var(--clr-wht-light-grey);
    }

    input:focus {
      border-bottom: 3px solid var(--clr-blu-delft-2) !important;
    }

    input[type="date"]{
      width: min-content;
    }
    .radio-question, .checkbox-question{
      display: grid;
      gap: 1rem;
    }
    .title-form:not(.must-question){
      .must-label{
        display: none;
      }
    }
  }

  main{
    #head-logo{
      height: max-content;
      display: flex;
      justify-content: space-around;
      padding: 1em;
      img{
        display: block;
        height: 48px;
        margin: auto;
        width: 150px;
      }
    }
    #wrap-content-form{
      position: relative;
      display: grid;
      place-content: center;
      max-width: 1000px;
      margin: auto;
      margin-top: 7em;
      #wrap-form{
        position: absolute;
        left: 0%;
        top: -5%;
        background: #fff;
        border-color: #e4e7ea;
        border-radius: 12px;
        border-style: solid;
        overflow: hidden;
        padding: 2.5em;
        display: grid;
        width: 400px;
        h4{
         font-size: 1.5em; 
         font-weight: 700;
         margin: 0px;
         margin-bottom: 2em;
        }
        #policy{
          text-align: left!important;
          font-size: .75rem!important;
          margin-top: 0.75rem!important;
          color: rgba(108,114,127,1)!important;
        }
        #submit-form{
          height: 40px;
          border: none;
          border-radius: 8px;
          font-size: 14px;
          font-stretch: normal;
          font-style: normal;
          font-weight: 700;
          height: 40px;
          letter-spacing: normal;
          line-height: 140%;
          padding: 8px 15px 10px!important;
          background-color: #1e40af;
          border-color: #1e40af;
          color: #fff;
        }
        input, button{
          width: 100%;
        }
        input{
          width: calc(100% - 2em);
        }
        #opinion-ump-wrap{
          padding-top: .5em;
          margin-top: .5em;
          border-top: .1em solid var(--clr-blk-basic);
        }
        .form-group{
          margin-bottom: 1em;
          label{
            display: block;
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 8px;
          }
          .form-control{
            appearance: none;
            background: #fff;
            transition: all .2s;
            border: 1px solid #d3d5da;
            border-radius: 8px;
            padding: 10px 12px;
          }
          .radio-form-wrap{
            display: flex;
            gap: 2em;
          }
        }
      }
    }
    
    
    #wrap-body-content-form{
      display: grid;
      justify-content: center;
      background: var(--clr-wht-basic);
      padding: 2rem;
      min-height: 500px;
      #wrap-form-list{
        max-width: 650px;
        display: grid;
        gap: 1rem;
        margin-bottom: auto;

        #form-img{
          overflow: hidden;
          img{
            width: 100%;
            height: 200px;
            object-position: center;
            object-fit: cover;
            display: block;
          }
        }
        
        .box-form{
          border-radius: 8px;
          background: var(--clr-wht-basic);
          overflow: hidden;
          border: 1px solid var(--clr-wht-light-grey);
          .line-form-box{
            height: 8px;
            background: var(--clr-blu-indigo-dye);
          }
          .box-form-content{
            padding: 1.5rem 2rem;
          }
          #title-info-form{
            border-bottom: 1px solid var(--clr-wht-light-grey);
          }
          #info-box-form{
            color: var(--clr-red-poppy) !important;
          }
        }

        .form-btn{
          margin-right: auto;
          border-radius: 4px;
          padding: 0.7rem 1.7rem;
          background: var(--clr-blu-delft-2);
          border: 0;
          color: var(--clr-wht-basic);
          &:hover{
            filter: brightness(150%);
          }
        }
      }
    }
  }
  footer{
    display: grid;
    background: var(--clr-blu-indigo-dye);
    margin-top: auto;
    #desc-footer-info{
      background: var(--clr-ylw-aureolin);
      height: 70px;
      display: grid;
      h2{
        text-align: center;
        margin: auto;
      }
    }
    #wrap-footer-top{
      font-size: smaller;
      padding: 1rem;
      margin-right: auto;
      margin-left: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
        "location socmed" 
        "copyright copyright";
      gap: 0em;
      row-gap: 0;
      
      p, h1, h2, h3, h4{
        color: var(--clr-wht-basic);
        margin: 0;
      }
      .TelpdanCall{
        margin-left: 1rem;
        display: flex;
        font-size: var(--font-size-normal);
        color: var(--clr-wht-basic);
        .phone{
          margin-right: 2rem;
        }
      }
      #location-footer{
        grid-area: location;
        display: grid;
        gap: 1rem;
        margin-bottom: auto;
        padding-bottom: 2rem;
        p{
          margin-left: 1rem;
        }
        img{
          width: 154px;
          padding-left: 1rem;
        }
      }
      #social-media-footer{
        grid-area: socmed;
        padding-top: 8rem;
        display: grid;
        gap: 0.5rem;
        margin-bottom: auto;
        h4{
          margin-bottom: 14px;
          font-weight: 300;
          font-size: 24px;
        }
        #social-icon{
          padding-left: 15rem;
          display: flex;
          gap: 1rem;
          a{
            background: var(--clr-wht-basic);
            border-radius: 100%;
            display: grid;
            height: 35px;
            width: 35px;
            align-items: center;
            text-align: center;
            color: var(--clr-blu-indigo-dye);
            text-decoration: none;
          }
        }
        #social{
          padding-top: 2rem;
          font-size: var(--font-size-normal);
          a{
            color: var(--clr-wht-gainsboro);
            margin: 0 12px;
            font-weight: 500;
            &:hover{
              text-decoration: underline;
              color: var(--clr-wht-basic);
            }
          }
        }
        .caption-sosmed{
          font-size: 13px;
          font-weight: 600;
          letter-spacing: normal;
          line-height: 18px;
          margin: 0 0 14px 0;
          text-transform: uppercase;
          color: #CCC;
        }
      }
      #copyright-footer{
        border-top: 1px solid var(--clr-wht-light-grey);
        grid-area: copyright;
        padding-top: 2rem;
        padding-left: 8rem;
        color: #ccc;
        margin-bottom: 16px;
        font-size: .9em;
        font-weight: 500;
      }
    }
  }
}


@media (max-width: 1024px) {
  footer{
    #wrap-footer-top{
      display: flex !important;
      flex-direction: column !important;
      gap: 2rem !important;
      .TelpdanCall{
        flex-direction: column !important;
      }
      #location-footer{
        padding-bottom: unset !important;
      }
      #social-media-footer{
        padding-top: unset !important;
        #social-icon{
          padding-left: unset !important;
          padding-top: unset !important;
        }
        #social{
          display: flex !important;
          flex-direction: column !important;
        }
      }
      #copyright-footer{
        padding-left: unset !important;
      }
    }
  }
}

::-webkit-scrollbar-thumb {
  background: var(--clr-blu-jeans) !important; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-blu-jeans) !important; 
}